<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Create a new Biscoff</title>
  </head>
  <body>
    <h1>New Biscoff page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/bakedgoods" method="POST">
        date: <input type="text" name="date" /><br />
        Name: <input type="text" name="name" /><br />
      Amount: <input type="text" name="Amount" /><br />
      
      <input type="submit" value="Create Biscoff" />
    </form>

  </body>
</html>